body {
    margin: 0
}

.flex-header {
    background-color: rgb(250, 69, 69);
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 30px 30px;
    color: white;
    margin-top: 0;
    
}

.header1 {
    margin-left: 300px;
    font-size: 20px;
}

.main-column {
    display: flex;
    align-content: center;
    text-align: center;
       
}

.left {
    background-color: rgb(241, 142, 142);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 100px;
    color: white;
    
    
}

.middle {
    background-color: rgb(142, 142, 194);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 250px 250px;
    color: white;
    
    

}

.right {
    background-color: rgb(241, 142, 142);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 100px;
    color: white;
    

}

.flex-footer {
    background-color: rgb(250, 69, 69);
    display: flex;
    flex-direction: row
    justify-content: flex-end;
    padding: 30px 30px;
    color: white;
    margin-top: 0;

}


.footer1 {
    margin-left: 800px;
    font-size: 20px;
    
}